@use '../../../styles/variables.scss' as *;

.table-row {
  display: flex;
  align-items: center;
  min-width: fit-content;
  width: 100%;
  background: $color-bg-tertiary;
  border-radius: $border-radius-md;
  transition: background-color $transition-base;
  position: relative;
  z-index: 0;

  &--selected {
    background: $color-bg-hover;
  }
}

.table-row__fixed {
  display: flex;
  flex-shrink: 0;
}

.table-row__scrollable {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: fit-content;
  overflow: visible;
}
